/* config global */
*{
    margin: 0px;
    padding: 0px;
}
/* Css general */
body{
    background-color:#051533;
    color: #ffffff;
    font-family: 'Overpass Mono', monospace;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 200;
}

h2{
    font-size: 36px;
    line-height: 36px;
}

h3{
    font-size: 18px;
    font-weight: 300
}


/* Css de clases e id */
.seccion{
    padding: 10px 80px 10px 80px;
}

.hashtag{
    color: #97f0ff;
    min-height: 18px;
}
#inicio{
    background-image: url(../portfolio/images/black-bg-recortado.jpg);
    min-height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
}
#experiencia{
    background-color: #97f0ff;
    color: #001f24;
    
}

#portfolio{
    border-top: 1px solid #191c1d;
}

#sobre-mi{
    font-weight: 300;
    text-align: justify;
}